<div mat-dialog-actions>
  <button mat-icon-button mat-dialog-close>
    <mat-icon style="font-size: large"> close </mat-icon>
  </button>
</div>
<div mat-dialog-title>
  <span class="mat-display-2">Contact Us</span>
</div>
<mat-dialog-content>
  <div class="mat-body">
    <p>
      Anant-Ehsaas Foundation is a pan-India non-profit society registered under
      Societies Registration Act XXI of 1860 (Regn. No. S-E/1676/Distt. South
      East/2019) with registered office at :
      <br />73, LGF, Anand Lok <br />New Delhi – 110049 <br />
      <br />Get in touch with us at +911148781108 or leave us a message below:
    </p>
  </div>
  <div>
    <form
      ngNoForm
      class="form"
      id="contact-form"
      method="POST"
      action="mailto:95smiglani@gmail.com"
    >
      <div class="form-field">
        <mat-form-field appearance="outline" color="accent">
          <input
            type="text"
            matInput
            placeholder="Name"
            id="name"
            name="name"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <input
            type="email"
            matInput
            placeholder="Email"
            id="email"
            name="email"
          />
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="form-field" color="accent">
        <textarea
          matInput
          placeholder="Message"
          id="message"
          rows="6"
          name="message"
        ></textarea>
      </mat-form-field>
      <button
        type="submit"
        form="contact-form"
        mat-raised-button
        color="accent"
        class="form-button mat-body"
      >
        Send Message
      </button>
      <button type="reset" mat-stroked-button class="form-button mat-body">
        Reset
      </button>
    </form>
  </div>
</mat-dialog-content>
