<div mat-dialog-actions>
  <button mat-icon-button mat-dialog-close>
    <mat-icon style="font-size: large"> close </mat-icon>
  </button>
</div>
<div mat-dialog-title>
  <span class="mat-display-2">Vision</span>
</div>
<mat-dialog-content>
  <p>
    <span class="mat-body">
      Anant-Ehsaas Foundation is a collective of dedicated individuals and
      organizations who believe that salvation of our future generations lies in
    </span>
    <mat-list>
      <mat-list-item class="mat-list-item-word-wrap">
        <mat-icon matListIcon style="font-size: xx-small">
          stop_circle
        </mat-icon>
        <p>
          Reforming the education system to ensure spiritual, emotional and
          physical development of individuals along with academic excellence in
          the social, scientific and artistic disciplines.
        </p>
      </mat-list-item>

      <mat-list-item class="mat-list-item-word-wrap">
        <mat-icon matListIcon style="font-size: xx-small">
          stop_circle
        </mat-icon>
        <p>
          Ensuring access to physical and mental healthcare, counselling and
          preservation of family units and spreading awareness about medical
          care, leading the way to a more compassionate and healthy society.
        </p>
      </mat-list-item>
      <mat-list-item class="mat-list-item-word-wrap">
        <mat-icon matListIcon style="font-size: xx-small">
          stop_circle
        </mat-icon>
        <p>
          Ensuring justice, healthcare and economic upliftment of the
          underprivileged and disenfranchised in society, thereby raising the
          society’s consciousness to the values of empathy, unity and diversity.
        </p>
      </mat-list-item>
      <mat-list-item class="mat-list-item-word-wrap">
        <mat-icon matListIcon style="font-size: xx-small">
          stop_circle
        </mat-icon>
        <p>
          Propagating a paradigm of working with each other instead of competing
          with each other through skill development and sharing initiatives,
          setting up co-operatives and worker managed SME’s, building an economy
          driven by local units independent of market tribulations and
          individuals free from economic bondage.
        </p>
      </mat-list-item>
      <mat-list-item class="mat-list-item-word-wrap">
        <mat-icon matListIcon style="font-size: xx-small">
          stop_circle
        </mat-icon>
        <p>
          Advocacy and policy interventions at the legislative, executive,
          judicial and journalistic pillars of society to achieve the
          educational, environmental, societal and economic reforms sought to be
          achieved by the Anant-Ehsaas Foundation.
        </p>
      </mat-list-item>
    </mat-list>
  </p>
  <p class="mat-body">
    The people working with and towards the ideals of AEF believe that it is not
    the joy of attainment that drives humanity, rather it is the essence of
    service to humanity that redeems us all in the end. The message of AEF is
    boundless yet simple, 'Service is Joy'.
  </p>
</mat-dialog-content>
