<button mat-fab aria-label="Logo" class="btn-logo">
  <a routerLink="/vision">
    <input type="image" src="../assets/img/logo.png" />
  </a>
</button>

<p class="p-greeter">
  <!-- <span class="span-greeter mat-display-1">
    I slept and dreamt that life was joy. I awoke and saw that life was service.
  </span>
  <span class="span-greeter mat-display-1">
    I acted and behold, service was joy.
  </span> -->
  <span class="span-greeter mat-display-1">
    I SLEPT AND DREAMT THAT LIFE WAS JOY. I AWOKE AND SAW THAT LIFE WAS SERVICE.
  </span>
  <span class="span-greeter mat-display-1">
    I ACTED AND BEHOLD, SERVICE WAS JOY.
  </span>
  <span class="span-greeter-author mat-display-1"> Rabindranath Tagore </span>
</p>
<button
  class="btn-contact mat-body"
  mat-raised-button
  appearance="disabled"
  routerLink="/contact"
>
  Contact Us
</button>

<!-- TODO Add footer -->
<!-- TODO press escape to close card -->
<!-- TODO add validations on contact us form -->
<!-- TODO add accesibility supported html code -->
