.logo {
  margin: 4rem auto;
  width: fit-content;
}

.btn-logo {
  width: fit-content;
  height: fit-content;
  padding: 4rem 3rem 3rem;
  filter: brightness(50%);
}
input {
  outline: none;
  max-width: 100%;
}

.p-greeter {
  width: fit-content;
  margin: 5rem auto 0;
  display: grid;
}

.mat-display-1 {
  font-size: 1.7rem;
}

.span-greeter {
  margin: auto;
  text-transform: uppercase;
}

.span-greeter-author {
  width: fit-content;
  margin: 1rem auto 0;
  filter: brightness(60%);
}

.btn-contact {
  margin: 1rem;
}

.footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-text {
  filter: brightness(60%);
  font-size: 0.72rem;
}

a {
  color: inherit;
}
