<div>
  <button mat-fab aria-label="Logo" class="btn-logo">
    <a routerLink="/vision">
      <input type="image" src="../assets/img/logo.png" />
    </a>
  </button>
</div>
<div>
  <div class="p-greeter">
    <span class="span-greeter mat-display-1">
      I slept and dreamt that life was joy. I awoke and saw that life was
      service.
    </span>
    <span class="span-greeter mat-display-1">
      I acted and behold, service was joy.
    </span>

    <span class="span-greeter-author mat-display-1"> Rabindranath Tagore </span>
  </div>
  <button
    class="btn-contact mat-body"
    mat-raised-button
    appearance="disabled"
    routerLink="/contact"
  >
    Contact Us
  </button>
</div>

<div class="footer mat-body">
  <p>
    Hosted proudly on
    <a href="https://github.com/anant-ehsaas/anant-ehsaas.github.io"> GitHub</a>
    <a href="https://pages.github.com/"> Pages</a>
  </p>
</div>

<!-- TODO responsive mobile -->
<!-- TODO press escape to close card -->
<!-- TODO add validations on contact us form -->
<!-- TODO add accesibility supported html code -->
