<button mat-fab aria-label="Logo" class="btn-logo">
  <a routerLink="/vision">
    <input type="image" src="../assets/img/logo.png" />
  </a>
</button>

<p class="p-greeter">
  <!-- <span class="span-greeter mat-display-1">
    I slept and dreamt that life was joy. I awoke and saw that life was service.
  </span>
  <span class="span-greeter mat-display-1">
    I acted and behold, service was joy.
  </span> -->
  <span class="span-greeter mat-display-1">
    I SLEPT AND DREAMT THAT LIFE WAS JOY. I AWOKE AND SAW THAT LIFE WAS SERVICE.
  </span>
  <span class="span-greeter mat-display-1">
    I ACTED AND BEHOLD, SERVICE WAS JOY.
  </span>
  <span class="span-greeter-author mat-display-1"> Rabindranath Tagore </span>
</p>
